@import "tailwindcss";
@import "uniwind";

@import 'heroui-native/styles';

@source '../node_modules/heroui-native/lib';

@layer theme {
  :root {
    @variant light {
  
      --radius: 0.5rem;
    }

    @variant dark {
      --radius: 0.5rem;
    }
  }
}

@theme inline static {
  /* Rainbow Colors */
  --rainbow-lime: #5BDD6A;
  --rainbow-light-green: #35DB80;
  --rainbow-teal: #20D6BE;
  --rainbow-cyan: #26D1D1;
  --rainbow-light-blue: #11CDF2;
  --rainbow-sky-blue: #40B6FF;
  --rainbow-blue: #638DFF;
  --rainbow-indigo: #7979F7;
  --rainbow-deep-purple: #A17DF5;
  --rainbow-purple: #CE7AF0;
  --rainbow-magenta: #FF70B0;
  --rainbow-red: #FF697A;
  --rainbow-orange: #FF875C;
  --rainbow-amber: #FFD86B;
  --rainbow-yellow: #FDFF78;
  --rainbow-navy: #98A0B3;

  --color-rainbow-lime: var(--rainbow-lime);
  --color-rainbow-light-green: var(--rainbow-light-green);
  --color-rainbow-teal: var(--rainbow-teal);
  --color-rainbow-cyan: var(--rainbow-cyan);
  --color-rainbow-light-blue: var(--rainbow-light-blue);
  --color-rainbow-sky-blue: var(--rainbow-sky-blue);
  --color-rainbow-blue: var(--rainbow-blue);
  --color-rainbow-indigo: var(--rainbow-indigo);
  --color-rainbow-deep-purple: var(--rainbow-deep-purple);
  --color-rainbow-purple: var(--rainbow-purple);
  --color-rainbow-magenta: var(--rainbow-magenta);
  --color-rainbow-red: var(--rainbow-red);
  --color-rainbow-orange: var(--rainbow-orange);
  --color-rainbow-amber: var(--rainbow-amber);
  --color-rainbow-yellow: var(--rainbow-yellow);
  --color-rainbow-navy: var(--rainbow-navy);
}